.Input {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.Label {
    
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.InputElement {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid rgb(37, 186, 212);
    background-color: white;
    opacity: 70%;
    font: icon;
    width: 100%;

}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}
