.FormDetails {
    background-image: url('../../assets/shinchan.jpg');
    background-repeat: no-repeat;
    margin: 20px auto;
    width: 95%;
    height: 95%;
    text-align: center;
    box-shadow: 0 2px 3px #000000;
    border: 1px solid #555252;
    padding: 10px;
    box-sizing: border-box;
}

